  <div class="smartbanner" style="display: none;">
    <div class="smartbanner-container">
      <a href="#" class="smartbanner-close" onclick="$('.smartbanner').hide('slide')">&times;</a>
      <span class="smartbanner-icon"></span>
      <div class="smartbanner-info">
        <div class="smartbanner-title">yanniks.de App</div>
          <div>Offizielle App</div>
          <span>KOSTENLOS &ndash; Google Play</span>
        </div>
        <a href="market://details?id=de.yanniks.app" class="smartbanner-button">
          <span class="smartbanner-button-text">Jetzt laden</span>
        </a>
     </div>
    </div>
  </div>
<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        {% for link in site.links %}
				<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		        <li><i class="icon-feed"></i> <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a>
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->